.main{
	width: 100%;
	background-image: url(../src/background.jpg);
	background-size: cover;
	background-repeat: repeat-y;
	background-position:center;
}
.cover{
	width: 80%;
	background-color:rgba(100, 100,100,0.5);
	box-shadow:0 0 2px black,0 0 5px black,0 0 10px black;
	margin:0 auto;
}
.photo{
	float: left;
	width: 30%;
}
.photo img{
	width: 80%;
	padding-top: 3px;
}
.description{
	float: right;
	width: 70%;
	color: aqua;
	text-align:justify;
}
.top{
	overflow:hidden;

}
.description img{
	margin-right: 10%;
	margin-top: 2%;

}
.description img:hover{
	transform: scale(1.2);
	box-shadow:0 0 2px orange,0 0 5px orange,0 0 10px orange;
	margin-top:-15px;
	border-radius: 20px;
}
.second h2{
	color:#FF6EFF;
	text-align: center;
	text-shadow: 0 0 2px black,0 0 5px black,0 0 10px black;
}
.second pre{
	color: white;
	text-decoration: underline;
}

hr{
	background-color: aqua;
	height:10px;
}
.education h2{
	color:#FF6EFF;
	text-align: center;
	text-shadow: 0 0 2px black,0 0 5px black,0 0 10px black;
}
.education p{
	color:aqua;
}

.education{
	overflow: auto;
}
table{
	width: 100%;

}
.hi{
	color:purple;
}
.language p{
	display: inline;
	color: aqua;
}
.language h2{
	color:#FF6EFF;
	text-align: center;
	text-shadow: 0 0 2px black,0 0 5px black,0 0 10px black;
}
.software h2{
	color:#FF6EFF;
	text-align: center;
	text-shadow: 0 0 2px black,0 0 5px black,0 0 10px black;
}
.software a{
	padding-right:10%;
}

.software {
	color: aqua;
}
footer{
	color: white;
	background-color: black;
	height:50px;
	margin-top: 2%;
}
footer p{
	text-align: center;
	font-size: 10px;
	padding-top: 2%;
}